relayer/node_modules
relayer/.env
webapp/.env
webapp/node_modules
cache
artifacts

node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
